<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>{{ todolist.list_name }}</h1>

<ul>

    {% for item in items_list %}
            <h2>{{item.title}}</h2>
            <p>Due Date : {{item.due_date}}</p>
            {% if item.checked %}
                <p> Status : <strong>Complete</strong></p>
            {% else %}
                <p> Status : <strong>Incomplete</strong></p>
            {% endif %}
                <p>
                <ul>
                <li>    {% if item.checked %}
            <a href="{% url 'todo:done' todolist.id item.id%}">Mark as Incompleted</a>
            {% else %}
                <a href="{% url 'todo:done' todolist.id item.id%}">Mark as Completed</a>
                 {% endif %}
                </li>
                <li> <a href="{% url 'todo:modify' item.id %}">Modify</a></li>
                <li><a href="{% url 'todo:delete' item.id %}">Delete</a></li>
                </ul>
                </p>
    {% endfor %}
</ul>
<p><a href="{% url 'todo:index' %}">Homepage</a></p>
</body>
</html>

