
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- <link rel="stylesheet" href="{% static "index.css" %}">-->
</head>
<body>
    <h1> To-Do App</h1>
    <br>
    <em><a href ="{% url 'todo:createnewlistheading'%}">Create new list</a></em>
    <br>
    <br>
    <div id="mainblock" class="centr">
    {% if todolists %}
    <div class="centr">
    <ul>
    
        {% for todolist in todolists %}
       
       
        <table width="50%">
        <tr>

        <th align="left"> <li>{{todolist.list_name}}</li></th>
        <th>Status</th>
         <th><a href="{% url 'todo:create' todolist.id %}">Add a new Task</a></th>
        <th><a href="{% url 'todo:deletelist' todolist.id %}">Delete List</a></th>
         </tr>
     
        {% for item in todoitems %}
        {% if item.todo_list.id == todolist.id %}

        
        <tr>
        <td width="25%"><a href="/todo/{{todolist.id}}/{{item.id}}">{{item.title}}</a> </td>
        <td align="center">{% if item.checked %}
                Status : <strong>Complete</strong>
            {% else %}
                Status : <strong>Incomplete</strong>
            {% endif %}</td>
        <td align="center">  <a href="{% url 'todo:delete' item.id %}">Delete</a></td>
        <td align="center">  <a href="{% url 'todo:modify' item.id %}">Modify</a></td>
        
        {% endif %}
        {% endfor %}
        </tr>

        </table>
         <p>
        <ul>
        </ul>
        </p>
        {% endfor %}

       

    </ul>

{% endif %}
</div>
<h5><a href="{% url 'todo:retrieve' %}">Find a particular task</a></h5>
</div>
</body>
</html>